.scrollyTeller {
    height: 100vh;
    width: 100vw;
    background: black;
    position: fixed;
    transform: translateY(-4rem);
}

.scrollyTellerContent {
    animation: fade-in 2s ease-in-out 0.2s both;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.gradientText {
    text-align: center;
}

.bodyFiller {
    height: 1000vh;
    width: 100vw;
}

.alert {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%);
}

.progressBar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
}