.text {
    background: black;
    color: white;
    mix-blend-mode: multiply;
    height: 100%;
    display: block;
    user-select: none;
    position: relative;
    z-index: 3;
}


@media (min-width: 900px) {
    .text {
        font-size: 4.5vw !important;
    }
}

.background {
    background: rgb(168,93,161);
    background: linear-gradient(0deg, rgba(168,93,161,1) 0%, rgba(160,108,165,1) 20%, rgba(102,220,196,1) 50%, rgba(155,119,168,1) 80%, rgba(168,93,161,1) 100%);
    height: 500%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    transform: translateZ(0);
}

.fallbackBackground {
    background: rgb(168,93,161);
    position: absolute;
    top: 0; 
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.wrapper {
    position: relative;
    width: fit-content;
    overflow: hidden;
    animation: fade-in 1s ease-in-out backwards;
    max-width: 80vw;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}